<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/main.css" />
        <script src="/assets/jquery.js" type="text/javascript"></script>        
        <script src="/assets/peer.js" type="text/javascript"></script>        
    </head>
    <body>
        <p>Your Call ID : <span id="yourpid"></span></p>
        <p>Join another Call : 
            <input id="callpid" name="callpid" type="input" placeholder="Someone else's id" />
            <input type="button" id="join" value="Join"/>
        </p>
        <video id="me" width="400" height="300" controls="false" autoplay></video>
        <video id="partner" width="400" height="300" controls="false" autoplay></video>
        
        <hr>
        <br>
        <input type="button" id="camera" value="camera">
        <input type="button" id="mute" value="mute">
        <input type="button" id="endcall" value="End Call">
        
        <script src="/assets/video.js" type="text/javascript"></script>        
        <script src="/assets/main.js" type="text/javascript"></script> 
        
    </body>
</html>