* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 10px;
}

#videos video {
    cursor: pointer;
}

#chat_url {
    padding: 2px;
    font-size: 16px;
    width: 100%;
}

#room_name {
    font-size: 16px;
}